.git/
.github/
.venv/
__pycache__/
*.py[cod]
.gitignore
.dockerignore
docker-compose.yml
.env
.env.example
.cgcignore
.coverage
.ruff_cache/
.mypy_cache/
.pytest_cache/
tests/
db/
*.sqlite3
requirements-dev.txt
*.md
LICENSE
*.pdf
